body {
  background-color: #000;
  font-family: 'Courier';
  color: #00ff00;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.me {
  font-size: 24px;
  text-align: left;
  display: inline-block;
  width: 400px;
  float: left;
}

.name {
  font-size: 32px;
}

.link {
  font-size: 24px;
  text-align: left;
  display: inline-block;
  float: left;
}

a {
  text-decoration: none;
  display: block;
  margin-bottom: 70px;
  color: #00ff00;
}

a:first-of-type {
  margin-right: 90px;
}

a:hover {
  color: #0000ff;
}

a:active {
  color: #0080ff;
}
