body {
  background-color: #000;
  font-family: 'terminal';
}

.me {
  font-size: 38px;
  text-align: center;
  min-width: 1070px;
}

#name {
  margin-top: 100px;
  font-size: 50px;
  color: #00ff00;
}

#link {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  word-spacing: 1.2em;
  padding-top: 150px;
  min-width: 1070px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #22ff1a;
}

#day {
  font-family: arial;
  font-size: 20px;
  padding: 10px;
  color: blue;
  font-weight: bold;
    }
